.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 40px; /* Espaço à esquerda e direita */
    color: white;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .menu-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu-items {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .menu-items li {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    position: relative;
  }
  
  .menu-items li a {
    color: #ffffff; /* Cor padrão dos links */
    text-decoration: none; /* Remove o sublinhado */
    padding: 10px 15px; /* Adiciona padding para criar "botões" */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves */
  }
  
  .menu-items li a:hover {
    background-color: #61dafb; /* Cor de fundo ao passar o mouse */
    color: #282c34; /* Cor do texto ao passar o mouse */
  }
  
  .sub-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 15px 0; /* Aumentando o padding */
    display: none;
    min-width: 200px; /* Aumentando a largura do sub-menu */
    border-radius: 5px; /* Bordas arredondadas no sub-menu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionando sombra para destacar */
  }
  
  .menu-items li:hover .sub-menu {
    display: block;
  }
  
  .sub-menu li {
    padding: 8px 20px; /* Espaçamento maior entre os itens do sub-menu */
  }
  
  .sub-menu li a {
    color: #ffffff; /* Cor padrão dos links do sub-menu */
    text-decoration: none;
    display: block; /* Faz os itens do sub-menu ocuparem toda a largura */
  }
  
  .sub-menu li a:hover {
    background-color: #444;
    color: #61dafb;
  }
  